<mat-tab-group #matTabGroup (selectedTabChange) = "flagTabsUpdate()">
    <mat-tab label="Asientos RC">
        <mat-card>
            <h2 class="text-3xl font-bold mb-4 text-center">Log Asientos RC</h2>
            <mat-card-content class="card_header" [formGroup]="formRC">
              <div class="flex">
                <mat-form-field>
                    <mat-label>Perido Asiento</mat-label>
                    <input matInput [matDatepicker]="dp1" [formControl]="periodoRC">
                    <mat-hint>Mes/Año</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1
                                    startView="multi-year"                                   
                                    (monthSelected)="setMonthAndYear($event, formRC, 'periodoRC', dp1)"
                                    panelClass="example-month-picker">
                    </mat-datepicker>
                  </mat-form-field>                  
              </div>             
              <div class="w-1/2 p-1.5 space-x-2.5">              
                <button mat-raised-button color="primary" (click) = "buscarLogAsientos()"><mat-icon>query_stats</mat-icon>Busqueda</button>                       
              </div>    
            </mat-card-content>
        </mat-card>
        <!-- <mat-card>
        <mat-card-content>
            <table mat-table class="mat-elevation-z8">               
                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef> Número </th>
                    <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
                </ng-container>        
               
                <ng-container matColumnDef="asiento">
                    <th mat-header-cell *matHeaderCellDef> Asiento </th>
                    <td mat-cell *matCellDef="let element"> {{element.asiento}} </td>
                </ng-container>        
              
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>
        
                
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>        
               
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                    <button mat-button color="warn" >Eliminar</button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
        </mat-card-content>
        </mat-card> -->
    </mat-tab>
    <mat-tab label="Asientos RV Contado">
      <!-- Contenido para Tab 2 -->
      <mat-card>
        <h2 class="text-3xl font-bold mb-4 text-center">Log Asientos RV Contado</h2>
        <mat-card-content class="card_header" [formGroup]="formRVContado">
          <div class="flex">
            <mat-form-field>
                <mat-label>Perido Asiento</mat-label>
                <input matInput [matDatepicker]="dp2" [formControl]="periodoRVContado">
                <mat-hint>Mes/Año</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2
                                startView="multi-year"                               
                                (monthSelected)="setMonthAndYear($event, formRVContado, 'periodoRVContado', dp2)"
                                panelClass="example-month-picker">
                </mat-datepicker>
            </mat-form-field>      
          </div>             
          <div class="w-1/2 p-1.5 space-x-2.5">              
            <button mat-raised-button color="primary"><mat-icon>query_stats</mat-icon>Busqueda</button>                       
          </div>    
        </mat-card-content>
    </mat-card>
    <!--<mat-card>
        <mat-card-content>
            <table mat-table class="mat-elevation-z8">
                
                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef> Número </th>
                    <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
                </ng-container>        
                
                <ng-container matColumnDef="asiento">
                    <th mat-header-cell *matHeaderCellDef> Asiento </th>
                    <td mat-cell *matCellDef="let element"> {{element.asiento}} </td>
                </ng-container>        
              
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>        
                
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>
        
               
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                    <button mat-button color="warn" >Eliminar</button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
        </mat-card-content>
    </mat-card>  -->
       <!-- FIN TAB 2-->
    </mat-tab>
    <mat-tab label="Asientos RV Credito">
      <!-- Contenido para Tab 3 -->
      <mat-card>
        <h2 class="text-3xl font-bold mb-4 text-center">Log Asientos RV Credito</h2>
        <mat-card-content class="card_header" [formGroup]="formRVCredito">
          <div class="flex">
            <mat-form-field>
                <mat-label>Perido Asiento</mat-label>
                <input matInput [matDatepicker]="dp3" [formControl]="periodoRVCredito">
                <mat-hint>Mes/Año</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3
                                startView="multi-year"                              
                                (monthSelected)="setMonthAndYear($event, formRVCredito, 'periodoRVCredito', dp3)"
                                panelClass="example-month-picker">
                </mat-datepicker>
              </mat-form-field>      
          </div>             
          <div class="w-1/2 p-1.5 space-x-2.5">              
            <button mat-raised-button color="primary"><mat-icon>query_stats</mat-icon>Busqueda</button>                       
          </div>    
        </mat-card-content>
    </mat-card>
    <!--<mat-card>
        <mat-card-content>
            <table mat-table class="mat-elevation-z8">
              
                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef> Número </th>
                    <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
                </ng-container>
        
              
                <ng-container matColumnDef="asiento">
                    <th mat-header-cell *matHeaderCellDef> Asiento </th>
                    <td mat-cell *matCellDef="let element"> {{element.asiento}} </td>
                </ng-container>
        
              
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>
        
               
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>
        
               
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                    <button mat-button color="warn" >Eliminar</button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
        </mat-card-content>
    </mat-card> -->
       <!-- FIN TAB 3-->
    </mat-tab>
</mat-tab-group>
<mat-card>
    <mat-card-content>
        <table mat-table class="mat-elevation-z8">
            <!-- Número Column -->
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> Número </th>
                <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
            </ng-container>
    
            <!-- Asiento Column -->
            <ng-container matColumnDef="fecha_registro">
                <th mat-header-cell *matHeaderCellDef> Fecha Registro  </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
            </ng-container>
    
            <!-- Fecha Column -->
            <ng-container matColumnDef="periodo">
                <th mat-header-cell *matHeaderCellDef> Periodo </th>
                <td mat-cell *matCellDef="let element"> {{element.periodo}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_asiento">
                <th mat-header-cell *matHeaderCellDef> Fecha Registro  </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaAsiento}} </td>
            </ng-container>
    
            <!-- Descripción Column -->
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{element.glosa}} </td>
            </ng-container>

            <ng-container matColumnDef="ingresos">
                <th mat-header-cell *matHeaderCellDef> Ingresos </th>
                <td mat-cell *matCellDef="let element"> {{element.ingresos}} </td>
            </ng-container>

            <ng-container matColumnDef="total_debito">
                <th mat-header-cell *matHeaderCellDef> Total Debito </th>
                <td mat-cell *matCellDef="let element"> {{element.totalDebito}} </td>
            </ng-container>

            <ng-container matColumnDef="total_credito">
                <th mat-header-cell *matHeaderCellDef> Total Credito </th>
                <td mat-cell *matCellDef="let element"> {{element.totalCredito}} </td>
            </ng-container>

            <ng-container matColumnDef="total_proveedor">
                <th mat-header-cell *matHeaderCellDef> Total Proveedor </th>
                <td mat-cell *matCellDef="let element"> {{element.totalProveedor}} </td>
            </ng-container>
    
            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                <button mat-button color="warn" >Eliminar</button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="table-empty"  *ngIf="!statusLoading && (!dataSource ||dataSource.data.length === 0)">
            No se encuentran datos para mostrar
        </div>
        <div class="table-empty_spinner">
            <mat-spinner *ngIf="statusLoading" diameter="80"></mat-spinner>
        </div> 
        <mat-paginator #paginador [pageSizeOptions]="[10, 30, 50]" showFirstLastButtons> </mat-paginator> 
    </mat-card-content>
</mat-card> 
  
