mat-form-field{
    width: 140%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: 0  0 6%;
}
.example-margin{
    margin: 0 10px;
}

.btn-gen-token{
    background-color: #197278;
    color: white;
    font-size: 16px;
    margin-right: 10px;

}

.table-empty {
    text-align: center;
    font-weight: 600;
    margin: 1rem 0;
    color: #595959;
}

tr .mat-header-row {
    background-color: rgb(72 118 180);
}
  th.mat-header-cell {
    color: #fff;
}

.table-empty_spinner {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}