mat-form-field{
    width: 140%;
}

.btn-busqueda{
    background-color: #38A3A5;
    color: white; 
    margin-right: 10px;
}

.btn-aasinet{
    background-color: #2660A4;/*#C33149   197278  2660A4*/
    color: white; 
    margin-right: 10px;
}

.table-empty {
    text-align: center;
    font-weight: 600;
    margin: 1rem 0;
    color: #595959;
}
  
.mat-mdc-header-row{
    background-color: #3f51b5;
    color: #fff;
}

.table-empty_spinner {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.ingre{
color: green;
font-weight: bold;
}

.cant{
color: black;
font-weight: bold;
}

.texto-span{
    color: black;
    font-weight: bold;
}